@charset "UTF-8";
* {  /*--Configurações globais das css--*/
}
body { 
 background-image: linear-gradient(to right, #93B7BE, #8FB8DE);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #241909;
    width: 600px;
    padding: 10px;
    margin: auto
}
h1 {
    text-shadow: 1px 1px 2px #95b81a;
    text-align: center;
    font-family: monospace;
   color: #fadf12 ;
   background-color:rgba(0, 0, 0, 0.664);
}
h2 {
    color: #241909;
}
 p {
  text-align: justify;
 }