@charset "UTF-8";

/* em html todo id em CSS é #
em html todo class é . */
body { 
    background-color: rgb(169, 241, 96);
    font-family: sans-serif;
}

h1 {
    color: rgb(35, 92, 92);
}
h1#principal {
    text-align: right;
    color: black;
    font-size: 3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(255, 255, 255);
}
h2 {
    color: rgb(34, 129, 129);
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.basico {
    color: green;
    font-weight: bolder;
    font-size: 30px;
}
.intermediario {
    color: yellow;
}
.destaque {
background: brown;
}